# Loops


**Learning Objectives**:
- Understand the syntax of loops
- Use loops to iterate through multple operations
- Aggregate values using the accumulator pattern.
* * * * *

Let's say we have three tire pressure measurements `40.9`,`35.2`,`28.4` and we want to round each decimal to a whole number. How would we do this using the tools available to us?


Here's one way (of many):

In [3]:
tire1 = 40.9
tire2 = 35.2
tire3 = 28.4

print(round(tire1))
print(round(tire2))
print(round(tire3))



#Alternatively we can use a list
tires = [40.9,35.2,28.4]
print(round(tires[0]),round(tires[1]),round(tires[2]))

41
35
28
41 35 28

Let's say that we have 10 tire pressures in a list. How would we modify the above approach?

This approach is not particularly scalable. In addition, they are less flexible which can slow down coding. For example, what if you want to round every tire pressure to two decimal places?

## Use of loops

*   Doing calculations on the values in a list one by one
    is as painful as working with `pressure_001`, `pressure_002`, etc.
*   A *for loop* tells Python to execute some statements once for each value in a list,
    a character string,
    or some other set of values.
*   "for each thing in this group, do these operations"
*   The other major type of loop is a [while](https://www.geeksforgeeks.org/python-while-loop/) loop. We don't use these loops frequently in this type of programming, but we may encounter them.

In [4]:
for pressure in [40.9,35.2,28.4]:
    print(round(pressure))
print('the loop has ended')


#we can also substitute a variable containing a list (useful for long lists)
for pressure in tires:
    print(round(pressure))
print('the loop has ended')

41
35
28
the loop has ended
41
35
28
the loop has ended

## Loop syntax

*   The colon at the end of the first line signals the start of a *block* of statements.
*   The indented line(s) following the colon indicate the lines to run as a part of the loop (also known as the body).
*   Unindented lines following the loop will execute after all of the iterations are complete.
*   `for loop_variable in collection:` The loop variable is what gets plugged into the calculations in the body of the loop, and the collection is the group of values being looped through.

*   As with all variables, loop variables are:
    *   Created on demand.
    *   Meaningless: their names can be anything at all.
    *   Placeholders for the loop

In [12]:
for pressure in [40.9,35.2,28.4]:
    p=round(pressure)
    print('original:',pressure,'rounded:',p)
print('the loop has ended')

#alternatively, you can use a variable for the collection:
for pressure in tires:
    p=round(pressure)
    print('original:',pressure,'rounded:',p)
print('the loop has ended')

original: 40.9 rounded: 41
original: 35.2 rounded: 35
original: 28.4 rounded: 28
the loop has ended
original: 40.9 rounded: 41
original: 35.2 rounded: 35
original: 28.4 rounded: 28
the loop has ended

## Challenge 1: Loop Syntax

The following block of code contains several errors that are preventing it from running properly. What are the errors? How would you fix them?

In [1]:
for kitten in [2, 3, 5]
print(k)

SyntaxError: invalid syntax (<ipython-input-1-fefdc3b11db0>, line 1)


## Loops with strings, series, and `range`

Loops can loop over any iterable data type. (**iterable**: any data type that can be iterated over, like a sequence). A rule of thumb is that anythng that can be indexed (e.g. accessed with `values[i]`) is an iterable.


For example, a string is iterable, so it is possible to loop through a string:



*   The built-in function `range` produces a sequence of numbers.
    *   *Not* a list: the numbers are produced on demand
        to make looping over large ranges more efficient.
*   `range(N)` is the numbers 0..N-1
    *   Exactly the legal indices of a list or character [string](https://github.com/dlab-berkeley/python-intensive/blob/master/Glossary.md#string) of length N
    
* This may be used to iterate through list indexes. 
* When might using a range be useful?

In [2]:
ex_string = 'yosemite'

for x in ex_string:
    print(x.upper())

Y
O
S
E
M
I
T
E

You can also use a `range` to loop through a sequence. This is used when you want to run a loop *x* number of times. This is used a lot for looping through the indices in the list.

In [28]:
#this is equivalent to the loop above.

for index in range(len(ex_string)):
    print(ex_string[index].upper())
print('the loop has ended')

Y
O
S
E
M
I
T
E
the loop has ended

## Challenge 2: Looping through a series

A data frame series can be looped through as well. For the data frame below, let's convert the elevations from feet to meters (use the conversion: 1ft = .304 m).

Start with the following method: 

1. extract the column `elevation` 
2. Loop through the series
3. Convert each value to meters 
4. Print the result. 


**Bonus** : Use `range` to iterate through the series and achieve the same result. Can you think of any other ways to loop through the DataFrame?

In [47]:
import pandas as pd
mountain_df = pd.DataFrame({'mountain':['Mount Whitney','Mount Williamson','White Mountain Peak','North Palisade','Mt Shasta','Mount Humphreys'],
              'range':['Sierra Nevada','Sierra Nevada','White Mountains','Sierra Nevada','Cascade Range','Sierra Nevada'],
              'elevation':[14505,14379,14252,14248,14179,13992]})

mountain_df



#your code here

              mountain            range  elevation
0        Mount Whitney    Sierra Nevada      14505
1     Mount Williamson    Sierra Nevada      14379
2  White Mountain Peak  White Mountains      14252
3       North Palisade    Sierra Nevada      14248
4            Mt Shasta    Cascade Range      14179
5      Mount Humphreys    Sierra Nevada      13992

**Note**: We will discuss looping and DataFrames in Part 3, including when and how to use loops most effectively.

# Aggregating values with loops
*   A common strategy in programs is to:
    1.  Initialize an *accumulator* variable to zero, the empty string, or the empty list.
    2.  Update the variable with values from a collection.
    
The result of this is a single list, number, or string with a summary value for the entire collection being looped over.
    
**Note**: If only one [argument](https://github.com/dlab-berkeley/python-intensive/blob/master/Glossary.md#argument) is given to `range`, the minimum will default to 0. But two arguments may also be given:


For example, we can make a new list with all of the tire pressures rounded.

In [39]:
result_list = []
for pressure in tires: 
    rounded = round(pressure)
    result_list.append(rounded)
print('Rounded tire pressures:',result_list)

Rounded tire pressures: [41, 35, 28]

## Challenge 3: Practice Aggregating

Below are a few examples showing the different

In [40]:
# Total length of the strings in the list: ["red", "green", "blue"] => 12
total = 0
for word in ["red", "green", "blue"]:
    ____ = ____ + len(word)
print(total)

NameError: name '____' is not defined

In [35]:
# List of word lengths: ["red", "green", "blue"] => [3, 5, 4]
lengths = ____
for word in ["red", "green", "blue"]:
    lengths.____(____)
print(lengths)

NameError: name '____' is not defined

In [36]:
# Concatenate all words: ["red", "green", "blue"] => "redgreenblue"
words = ["red", "green", "blue"]
result = ____
for ____ in ____:
    ____
print(result)

NameError: name '____' is not defined

In [37]:
# Create acronym: ["red", "green", "blue"] => "RGB"
# write the whole thing

## Nested loops

Loops may contain another loop. This allows us to loop through multiple lists and perform calculations. However, this also takes longer.

In [44]:
strings = ['cat','dog','apple','orange']
for word in strings:
    for letter in word:
        print(letter)

c
a
t
d
o
g
a
p
p
l
e
o
r
a
n
g
e

We tend to avoid loops where possible because they are computationally inefficient. But they are still quite useful in the right cases.

## Challenge 4: Aggregation with a DataFrame

For the `mountains_df` from Challenge: Looping through a series, use a loop and aggregation to do the following.

1. Make a list of the elevations in meters using a loop

2. Use a loop and aggregation to get the sum of the elevations in the mountains.



**Hint**: We can add new columns to our DataFrame using `df['column_name']` Add the list to the dataframe.

In [46]:
mountain_df

0    True
1    True
2    True
3    True
4    True
5    True
Name: elevation, dtype: bool

In [38]:
#your code here

## Best practices with loops

1. Loops are great for repeating operations. 
2. They also add computational complexity to the code (basically makes it take longer to run) so are not ideal for large loops, or many nested loops.
3. When possible, limit the size and number of loops in your code