## Challenge 1: Fixing Loop Syntax

The following block of code contains several errors that are preventing it from running properly. What are the errors? How would you fix them?

In [1]:
for kitten in [2, 3, 5] #missing colon
print(k) #not indented

#kitten and k need to match

SyntaxError: invalid syntax (<ipython-input-1-8da6d5b700eb>, line 1)

In [2]:
#solution
for kitten in [2, 3, 5]:
    print(kitten)

2
3
5

## Challenge 2: Looping Through a Series

Remember looking at `pandas` Series? These are also iterables, so we can loop through them!

For the data frame below, let's convert each elevation from feet to meters. Use the conversion: 1 ft = .304 m.

Proceed as follows:

1. Extract the column `elevation` as a series.
2. Loop through the series.
3. Convert each value to meters.
4. Print the result. 

**Bonus**: Use `range` to iterate through the series and achieve the same result. Can you think of any other ways to loop through the DataFrame?

In [4]:
import pandas as pd

mountains_df = pd.DataFrame(
    {'mountain': ['Mt. Whitney',
                  'Mt. Williamson',
                  'White Mountain Peak',
                  'North Palisade',
                  'Mt. Shasta',
                  'Mt. Humphreys'],
     'range': ['Sierra Nevada',
               'Sierra Nevada',
               'White Mountains',
               'Sierra Nevada',
               'Cascade Range',
               'Sierra Nevada'],
     'elevation': [14505, 14379, 14252, 14248, 14179, 13992]}
)

mountains_df

NameError: name 'mountain_df' is not defined

In [6]:
elevation = mountains_df['elevation']

for e in elevation:
    print(e * .304)

4409.5199999999995
4371.215999999999
4332.608
4331.392
4310.416
4253.568

## Challenge 3: Aggregation Practice

Below are a few examples showing the different types of quantities you might aggregate using a for loop. These loops are partially filled out - finish them and test that they work!

1. Find the total length of the strings in the given list. Store this quantity in a variable called `total`.

In [8]:
total = 0
words = ["red", "green", "blue"]

for word in words:
    total = total + len(word)

print(total)

12

2. Find the length of each word in the list, and store these lengths in another list called `lengths`.

In [10]:
lengths = []
words = ["red", "green", "blue"]

for word in words:
    lengths.append(len(word))

print(lengths)

[3, 5, 4]

3. Concatenate all words into a single string called `result`.

In [11]:
words = ["red", "green", "blue"]
result = ''

for word in words:
    result = result + word

print(result)

redgreenblue

4. Create an acronym, as a single string, representing the list of words. Each part of the acronym should consist of the first letter of each word, capitalized. For example, your loop should output `"RGB"` for the input `["red", "green", "blue"]`. For this one, write the entire loop yourself!

In [14]:
words = ["red", "green", "blue"]
result = ''
for word in words: 
    result = result + word[0].upper()
print(result)

RGB

## Challenge 4: Nested loops with a `DataFrame`

In the `mountains_df` data frame, let's use nested loops to look at the pairwise difference in elevation between mountains. Follow the steps below:

1. Extract the mountain and elevation columns using `df[column]` and save them to new variables `elevations` and `mountains`.
2. Use range to loop through the indices of each list.
3. Use a second inner loop to loop through the remaining values in the list
4. For each pair of mountains, subtract the inner elevation from the outer elevation.
5. Print the difference.

**Bonus**: Aggregate the total difference in elevation in a single integer.

In [15]:
import pandas as pd

mountains_df = pd.DataFrame(
    {'mountain': ['Mt. Whitney',
                  'Mt. Williamson',
                  'White Mountain Peak',
                  'North Palisade',
                  'Mt. Shasta',
                  'Mt. Humphreys'],
     'range': ['Sierra Nevada',
               'Sierra Nevada',
               'White Mountains',
               'Sierra Nevada',
               'Cascade Range',
               'Sierra Nevada'],
     'elevation': [14505, 14379, 14252, 14248, 14179, 13992]}
)

In [16]:
elevations = mountains_df['elevation']
mountains = mountains_df['mountain']

for i in range(len(elevations)):
    m1 = mountains[i]
    e1 = elevations[i]
    for j in range(i+1,len(elevations)):
        m2 = mountains[j]
        e2 = elevations[j]
        print('Difference between',m1,'and',m2,'is',e1-e2,'feet')

Difference between Mt. Whitney and Mt. Williamson is 126 feet
Difference between Mt. Whitney and White Mountain Peak is 253 feet
Difference between Mt. Whitney and North Palisade is 257 feet
Difference between Mt. Whitney and Mt. Shasta is 326 feet
Difference between Mt. Whitney and Mt. Humphreys is 513 feet
Difference between Mt. Williamson and White Mountain Peak is 127 feet
Difference between Mt. Williamson and North Palisade is 131 feet
Difference between Mt. Williamson and Mt. Shasta is 200 feet
Difference between Mt. Williamson and Mt. Humphreys is 387 feet
Difference between White Mountain Peak and North Palisade is 4 feet
Difference between White Mountain Peak and Mt. Shasta is 73 feet
Difference between White Mountain Peak and Mt. Humphreys is 260 feet
Difference between North Palisade and Mt. Shasta is 69 feet
Difference between North Palisade and Mt. Humphreys is 256 feet
Difference between Mt. Shasta and Mt. Humphreys is 187 feet